*.suo
BroileriLautanen/wwwroot/lib/
BroileriLautanen/obj/
BroileriLautanen/bin/
BroileriLautanen/node_modules/
.vs/config/applicationhost.config
.vs/slnx.sqlite
*.log
BroileriLautanen/wwwroot/build/
BroileriLautanen/wwwroot/dist/